<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/index.css">
        <title>VBA Generator</title>
    </head>
    <body>
        <div id="header">
            <h1 id="VBA_code_generator">VBA Code Generator</h1>
            <br>
            <button id="add_condition">Add job</button>
            <button id="submit">Submit</button>
        </div>

        <div id="conditions">
        </div>
        <script src="../static/index.js"></script>
    </body>
</html>